/* Styles from Google */
a {
  color: #15C;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input[type=text] {
  display: inline-block;
  height: 29px;
  margin: 0;
  padding-left: 4px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
input[type=text]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
input[type=text]:focus {
  outline: none;
  border: 1px solid #4d90fe;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
input[type=text][disabled=disabled] {
  border: 1px solid #e5e5e5;
  background: #f5f5f5;
}
input[type=text][disabled=disabled]:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.g-button {
  display: inline-block;
  min-width: 54px;
  text-align: center;
  color: #555;
  font-weight: bold;
  height: 29px;
  padding: 0 8px;
  line-height: 29px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
  border: 1px solid #dcdcdc;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  vertical-align: bottom;
  margin: 0;
}
.g-button:hover {
  border: 1px solid #c6c6c6;
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.0s;
  transition: all 0.0s;
  background-color: #f8f8f8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
  background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.g-button:active {
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#f6f6f6),to(#f1f1f1));
  background-image: -webkit-linear-gradient(top,#f6f6f6,#f1f1f1);
  background-image: linear-gradient(top,#f6f6f6,#f1f1f1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.g-button-submit {
  border: 1px solid #3079ed;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
  background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
}
.g-button-submit:hover {
  border: 1px solid #2f5bb7;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
}
.g-button-submit:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
/* Custom styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
fieldset {
  padding: 3px;
}
td {
  text-align: center;
}
.content {
  padding: 5px;
  background-color: #F1F1F1;
}
.delete {
  background: url('delete.png');
  border: 0;    
  width: 24px;
  height: 24px;
}
.delete:hover {
  background: url('delete_hover.png');
}
.delete:active {
  background: url('delete.png');
}
.check {
  -webkit-appearance: none;
  appearance: none;
  background: url('check.png');
  border: 0;    
  width: 24px;
  height: 24px;
}
.check:checked {
  background: url('check_checked.png');
}
#profile-table {
  border-spacing: 0;
  width: 100%;
}
.profile {
  border-right: 1px #CCC solid;
  border-top: 1px #CCC solid;
  box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  padding: 2px;
  width: 25%;
}
.profile-selected {
  background-color: #F1F1F1;
}
#filter-table {
  border-spacing: 0;
  width: 100%;
}
.filter-control {
}