/* Local ID — mndocdiojkckhpnhpeminpalidafeink */
/* Web Store ID — ihmgiclibbndffejedjimfjmfoabpcke */

.TnITTtw-help-selected-wrap {
  border: 1px solid #C7C6C2;
  box-shadow: 0 0 10px rgba(43, 43, 43, 0.325);
  border-radius: 4px;
  width: 231px
}

  .TnITTtw-help-inside-layout {
    height: 133px;
    background: #F5F5F5;
    border-radius: 3px
  }

    .TnITTtw-left-particle {
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      box-shadow: inset 0 1px 0 white;
      color: #4E4E4E;
      text-shadow: 0 1px 0 white;
      width: 194px;
      display: inline-block;
      border-right: 1px solid #D9D9D9
    }

      .TnITTtw-content-layout {
        text-align: left;
        margin: 10px 15px
      }

        .TnITTtw-variant-bunch-wrap {

        }

          .TnITTtw-variant-bunch-wrap .inside-layout {

          }

            .TnITTtw-main-variant-wrap {

            }

              .TnITTtw-main-variant {
                font-weight: 700;
                font-size: 15px;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.775);
                display: inline-block;
                vertical-align: top;
                color: #2B2B2B
              }

            .TnITTtw-variants-by-pos {
              
            }

              .TnITTtw-TnITTtw-variant-row {
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.775)
              }

                .TnITTtw-v-pos {
                  font-weight: 700;
                  margin-top: 10px;
                  font-size: 12px;
                  color: #545454
                }

                  .TnITTtw-v-pos:first-child {
                    margin-top: 8px
                  }

                .TnITTtw-v-closest-wrap {
                  font-size: 13px;
                  color: #4E4E4E
                }

                  .TnITTtw-v-item {
                    display: inline-block
                  }

        .TnITTtw-listen-disabled {
          opacity: 0.475;
          cursor: default
        }

    .TnITTtw-right-particle {
      background: rgba(255, 255, 255, 0.125);
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      display: inline-block;
      width: 36px;
      height: 133px;
      vertical-align: top;
      box-shadow: inset 1px 0 3px rgba(43, 43, 43, 0.05), inset 0 1px 0 #F5F5F5
    }

      .TnITTtw-sidebar {

      }

        .TnITTtw-sbutton {
          position: absolute;
          -webkit-user-select: none;
          cursor: pointer
        }

        .TnITTtw-listen-button {
          width: 16px;
          height: 17px;
          background: url(chrome-extension://ihmgiclibbndffejedjimfjmfoabpcke/resources/images/sprites/sprite.png);
          background-position: -54px 153px;
          margin: 10px 0 0 10px
        }

          .TnITTtw-listen-button:active, .TnITTtw-listen-disabled {
            background-position: -54px 136px
          }

/* ========== */
/* Scrollbars */

#TnITTtw-trVisibleLayout {
  position: relative !important;
  overflow: hidden;
  height: 133px;
  width: 100%
}

#TnITTtw-tr-scrollbar {
  position: absolute;
  display: block;
  width: 9px; 
  height: 135px; 
  font-size: 1px
}

#TnITTtw-track { 
  position: absolute;
  left: 185px;
  top: -134px;
  width: 11px;
  height: 129px;
  background: transparent
}

#TnITTtw-dragBar {
  position: absolute; 
  left: 1px;
  top: 1px;
  width: 5px; 
  height: 10px;
  background: rgba(43, 43, 43, 0.475);
  cursor: pointer;
  border-radius: 3px;
  box-shadow: 0 1px 0 #FFF
}

  #TnITTtw-dragBar:hover, #TnITTtw-dragBar:active {
    background: rgba(43, 43, 43, 0.775)
  } 

#TnITTtw-scrollbar, #TnITTtw-track, #TnITTtw-dragBar {
  -webkit-user-select: none
}

.TnITTtw-arrow {
  display: none;
  width: 12px;
  height: 6px;
  background: url(chrome-extension://ihmgiclibbndffejedjimfjmfoabpcke/resources/images/sprites/sprite.png);
  position: relative
}

.TnITTtw-top-arrow {
  background-position: -108px 148px;
  bottom: -1px
}

.TnITTtw-bottom-arrow {
  background-position: -108px 154px;
  top: -1px
}